<!DOCTYPE html>
<html lang="en">
{% seo %}
<head>
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c458b478-4a38-4a31-8834-300cc3a796bf"
    data-blockingmode="auto" type="text/javascript"></script>

  <meta charset="utf-8" />
  <meta name="theme-color" content="#000000" />
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <link rel="stylesheet" href="/assets/css/custom.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/jquery.pan.min.js"></script>

  <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->

</head>

<body>

  <section class="hero is-dark">
    <div class="hero-head">
      <div class="container">

        <nav aria-label="main navigation" class="navbar candles" role="navigation" data-bulma-attached="attached">
          <div class="navbar-brand"><a class="navbar-item" href="/"><img src="https://www.meinetradies.de/schrift2.png"></a><span
              class="navbar-item has-text-primary has-text-orbitron">Ein guter Trade..</span><a aria-expanded="false"
              aria-label="menu" class="navbar-burger" role="button"><span aria-hidden="true"></span><span
                aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
          <div class="navbar-menu">
            <div class="navbar-end">

              <a class="navbar-item" href="https://www.meinetradies.de"><span class="icon"><i
                    class="fas fa-home"></i></span><span>Home</span></a>

            <a class="navbar-item"
                href="https://www.meinetradies.de/tools"><span class="icon"><i class="fas fa-search"></i></span><span>Trading</span></a>

                <a
                class="navbar-item" href="https://www.meinetradies.de/backtrades">

                <span class="icon"><i
                    class="fas fa-clock"></i></span><span>Backtrades</span></a>

                    <a
                    class="navbar-item" href="https://www.meinetradies.de/ebooks">

                    <span class="icon"><i
                        class="fas fa-books"></i></span><span>Ebooks</span></a>

                    <a class="navbar-item"
                href="https://blogs.meinetradies.de"><span class="icon"><i class="fas fa-blog"></i></span><span>Blog</span></a><a class="navbar-item"
                href="https://discord.com/invite/qQWFbv8wxu"
                target="_blank"><span class="icon"><i class="fab fa-discord"></i></span><span>Chat</span></a><a
                class="navbar-item" href="https://www.meinetradies.de/about"><span class="icon"><i class="fas fa-heart"></i></span><span>Über
                  Tradies</span></a><a class="navbar-item" href="https://www.meinetradies.de/member"><span class="icon"><i
                    class="fas fa-users"></i></span><span>Mitglieder</span></a></div>
          </div>
        </nav>

      </div>
    </div>
  </section>


  <section class="container">

    <ul>
      {% for post in site.posts %}
      <div class="card">
        <header class="card-header">
        </header>


        <li>
          <a href="{{ post.url }}">

            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div class="content">
                    <img width=50% src="/assets/images/{{post.image}}">
                  </div>
                </div>
                <div class="column">
                  <div class="content">
                    <p>
                    <h2>{{ post.title }}</h2>
                    </p>
                    <p>{{ post.excerpt }}</p>
                  </div>
                </div>
              </div>

            </div>
            <footer class="card-footer"></footer>
      </div>
      </a>
      </li>
      {% endfor %}
    </ul>




    </div>
    </div>

    </div>
  </section>

  <div class="sticky-footer"></div>

  <footer class="footer">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div class="content">
            <p>
              Tradies © 2022
            </p>

          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="content">
            <p class="heading">
              social
            </p>
            <p class="buttons">
              <a class="button" href="https://twitter.com/tradies4good" rel="noopener noreferrer" target="_blank"><span
                  class="icon"><i class="fab fa-twitter"></i></span></a>
              <a class="button" href="https://www.youtube.com/channel/UCC8gKMvl_C45G82SuAyb4Yw"
                rel="noopener noreferrer" target="_blank"><span class="icon"><i class="fab fa-youtube"></i></span></a>
              <a class="button"
                href="https://join.slack.com/t/tradies-workspace/shared_invite/zt-o2j62ikw-u~UrfFso2fkMj3Ewgff6eQ"
                rel="noopener noreferrer" target="_blank"><span class="icon"><i class="fab fa-slack"></i></span></a>
              <a class="button" href="https://www.instagram.com/meinetradies/" rel="noopener noreferrer"
                target="_blank"><span class="icon"><i class="fab fa-instagram"></i></span></a>


              <a href="https://meinetradies.de/impressum.html" rel="noopener noreferrer" target="_blank"><span
                  class="icon"><i class="fab fa-law"></i></span>Impressum</a>
              <a href="https://meinetradies.de/datenschutz.html" rel="noopener noreferrer" target="_blank"><span
                  class="icon"><i class="fab fa-law"></i></span>Datenschutz</a>

            </p>
          </div>
        </div>
      </nav>
    </div>
  </footer>

</body>

</html>
