<!DOCTYPE html>
<html lang="en">
{% seo %}

<head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c458b478-4a38-4a31-8834-300cc3a796bf"
            type="text/javascript"></script>

    <meta charset="utf-8"/>
    <meta name="theme-color" content="#000000"/>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tradies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <link rel="stylesheet" href="/assets/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->

    <title>Tradies Blog</title>
</head>

<body>
<div>
    <section class="hero is-dark">
        <div class="hero-head">
            <div class="container">
                <nav
                        aria-label="main navigation"
                        class="navbar candles"
                        role="navigation"
                        data-bulma-attached="attached"
                >

                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://www.meinetradies.de">
                            <img alt="tradies logo" src="/tradies_logo.png"/>
                        </a>
                        <span class="navbar-item has-text-primary has-text-orbitron">
                  Kauf dir Zeit..
                </span>

                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">

                            <a class="navbar-item" href="https://www.meinetradies.de">
                    <span class="icon">
                      <i class="fas fa-home"></i>
                    </span>
                                <span>Home</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/about">
                    <span class="icon">
                      <i class="fas fa-heart"></i>
                    </span>
                                <span>Über Tradies</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/tradies"><span class="icon"><i
                                    class="fas fa-book"></i></span><span>Tradies</span></a>
                            <a class="navbar-item" href="https://www.meinetradies.de/backtrades">
                    <span class="icon">
                      <i class="fas fa-clock"></i>
                    </span>
                                <span>Backtrades</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/tools">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                                <span>Tools</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/kurse">
                                                                                                                <span class="icon">
                           <i class="fas fa-chalkboard-teacher"></i>                                                                                     </span>
                                <span>Kurse</span>
                            </a>


                            <!-- <a class="navbar-item" href="/academy"><span class="icon"><i class="fas fa-flag"></i></span><span>Tradies
                            Academy</span></a>
                        <a class="navbar-item" href="/coaching"><span class="icon"><i
                                class="fas fa-heart"></i></span><span>Coaching</span></a> -->
                            <a class="navbar-item" href="https://blogs.meinetradies.de">
                    <span class="icon">
                      <i class="fas fa-blog"></i>
                    </span>
                                <span>Blog</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/chat" target="_blank">
                  <span class="icon">
                    <i class="fab fa-slack"></i>
                  </span>
                                <span>Community Chat</span>
                            </a>
                            <a class="navbar-item" href="https://www.meinetradies.de/login">
                  <span class="icon">
                    <i class="fas fa-login"></i>
                  </span>
                                <span>Login</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <section class="container">

        <div class="card">
            <header class="card-header">
            </header>

            <div class="card-content">
                <div class="content">

                    <div class="columns noticication has-text-centered">
                        <div class="column is-one-third">
                            <img class="shadow" style="width:50%"
                                 src="https://www.meinetradies.de/assets/ebooks/candlesticks.png"/>
                        </div>
                        <div class="column is-one-third">
                            <h3>7 Tage / 6 Strategien</h3>
                            <p>Wir haben 6 Strategien, die wir regelmäßig traden. Melde dich einfach zum Newsletter an,
                                und du bekommst 6 Tage lang jeden Tag eine Strategie direkt in dein Postfach.</b></p>
                            <p>
                                Jede Strategie wird kurz vorgestellt inkl. kurzem Tradeplan und Management.
                            </p>
                            <p>
                                Charts, Marktmeinung, Setups und jedesmal ein wenig &hearts;

                            </p>
                            <div class="padding">
                                <a href="/newsletter">
                                    <a href="https://seu2.cleverreach.com/f/317896-321512/"
                                       class="button is-primary">Anmelden zum Daily Tradie</a>
                                </a>
                            </div>
                        </div>
                        <div class="column is-one-third">
                            <img style="width:50%" src="/assets/images/banner.png"/>
                        </div>
                    </div>

                    <p>{{ content }}</p>
                </div>
            </div>
            <footer class="card-footer"></footer>
        </div>
    </section>

    <div class="sticky-footer"></div>

    <footer class="footer">
        <div class="container">

            <nav class="level">
                <div class="level-item has-text-centered">
                    <div class="content">
                        <p>
                            Tradies © 2022
                        </p>

                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="content">
                        <p class="heading">
                            social
                        </p>
                        <p class="buttons">
                            <a class="button" href="https://twitter.com/tradies4good" rel="noopener noreferrer"
                               target="_blank"><span
                                    class="icon"><i class="fab fa-twitter"></i></span></a>
                            <a class="button" href="https://www.youtube.com/channel/UCC8gKMvl_C45G82SuAyb4Yw"
                               rel="noopener noreferrer" target="_blank"><span class="icon"><i
                                    class="fab fa-youtube"></i></span></a>
                            <a class="button"
                               href="https://join.slack.com/t/tradies-workspace/shared_invite/zt-o2j62ikw-u~UrfFso2fkMj3Ewgff6eQ"
                               rel="noopener noreferrer" target="_blank"><span class="icon"><i class="fab fa-slack"></i></span></a>
                            <a class="button"
                               href="https://www.instagram.com/meinetradies/"
                               rel="noopener noreferrer" target="_blank"><span class="icon"><i
                                    class="fab fa-instagram"></i></span></a>

                        </p>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {

            if ($el)
                $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.content p img') || []).forEach(($trigger) => {
            const $target = document.getElementById("modal-js");

            $trigger.addEventListener('click', () => {
                document.getElementById('modal-image').innerHTML = ''
                let node = $trigger.cloneNode(true)
                node.setAttribute("style", "width:80%")
                document.getElementById('modal-image').appendChild(node)

                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button, .content p img') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>


<div id="modal-js" class="modal is-fullheight">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 100%">
        <p id="modal-image">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
</body>

</html>
